/* reset */
* {
  margin: 0px; padding: 0px;
}

body {
  font-family: monospace;
  color:black;
  font-size: 12px;
}

.house {
  float: left;
  margin: 20px;
}

a {
  color: #ff5252;
  text-decoration: none;
  transition: .2s all;
  transform: scale(1);
}
a:hover {
  transition: .2s all;
  display: block;
  transform: scale(1.02);
}

/* nighttime */

body.night {
  color: white;
  background: black;
}

body.night a {
  color: lightgrey;
}

/* nighttime */

body.night.dusk, body.day.dusk, body.dusk {
  color: black;
  background: linear-gradient(to bottom, rgba(255,225,0,.3) 0%,rgba(255,225,0,1) 100%);
}

body.night.dusk a, body.day.dusk a, body.dusk a {
  color black
}
